In [1]:
import numpy as np   
from sklearn.linear_model import LinearRegression
import pandas as pd    
import matplotlib.pyplot as plt 
%matplotlib inline 
import seaborn as sns
from sklearn.model_selection import train_test_split # Sklearn package's randomized data splitting function

In [26]:
ref_df = pd.read_csv("Q3_Sikka data.csv")  
ref_df.shape

(46, 6)

In [27]:
ref_df.head()

         Date    DAU  Installs  Uninstalls  Signups  Referrals
0  2022-10-01  24071      6630        6994     3511      962.0
1  2022-10-02  23548      6366        6669     3387      941.0
2  2022-10-03  24572      6936        6899     3654      940.0
3  2022-10-04  24212      6561        6766     3532      960.0
4  2022-10-05  23247      6059        6402     3315      923.0

In [28]:
#dropping/ignoring car_name 
ref_df = ref_df.drop('Date', axis=1)

In [29]:
#A quick summary of the data columns
ref_df.describe()

                DAU     Installs   Uninstalls      Signups    Referrals
count     46.000000    46.000000    46.000000    46.000000    31.000000
mean   17788.586957  5064.978261  5494.347826  2550.891304   770.161290
std     4892.080923  1624.796773  1402.885078   991.987348   249.692891
min    12042.000000  3074.000000  3815.000000  1363.000000   384.000000
25%    13380.250000  3708.750000  4321.250000  1729.500000   543.500000
50%    15059.500000  4479.500000  4738.000000  2065.500000   801.000000
75%    23472.750000  6332.000000  6741.750000  3369.000000   961.000000
max    25156.000000  8937.000000  8215.000000  4974.000000  1193.000000

In [30]:
# lets build our linear model
# independant variables
X = ref_df.drop(['Referrals'], axis=1)
X_train = X.loc[:30]
# the dependent variable
y = ref_df.loc[:30, 'Referrals']

In [31]:
reg_model = LinearRegression()
reg_model.fit(X_train, y)

LinearRegression()

In [32]:
reg_model.score(X_train, y)

0.9407845507514737

In [33]:
X_test = X.loc[31:]

In [34]:
X_test = X.loc[31:]
y_pred = reg_model.predict(X_test)
y_pred

array([495.15377769, 459.46128305, 410.5597572 , 473.2384597 ,
       446.47801822, 475.01270888, 441.08282083, 472.43494323,
       516.29814227, 527.80448561, 545.86792499, 525.49702964,
       556.22034612, 561.18741976, 699.07147059])

In [35]:
# create a new dataframe with the predicted output
output_df = pd.DataFrame({'y_pred': y_pred})

# export the dataframe to a CSV file
output_df.to_csv('predicted_output.csv', index=False)