In [28]:
import numpy as np   
from sklearn.linear_model import LinearRegression
import pandas as pd    
import matplotlib.pyplot as plt 
%matplotlib inline 
import seaborn as sns
from sklearn.model_selection import train_test_split # Sklearn package's randomized data splitting function

In [29]:
df = pd.read_csv("Q4_ADX_Sample_data.csv")  
df.shape

(47935, 10)

In [30]:
df.head()

,date,pub_id,app_id,ad_unit_code,country,requests,ae_responses,ae_impressions,ae_clicks,ae_revenue
0,2022-10-20,1987,16243270,22832846443,Tanzania,36,36,34,0,0.035738
1,2022-10-20,1987,16243270,22832846593,Tanzania,24,24,23,0,0.064384
2,2022-10-20,1987,16243270,22832846443,Thailand,949,949,876,20,4.943878
3,2022-10-20,1987,16243270,22832846593,Thailand,1006,907,688,134,24.226836
4,2022-10-20,1987,16243270,22832827729,Thailand,373,287,156,20,2.759392

In [37]:
# set threshold for outlier detection
threshold = 1.5

# identify outliers in each column
q1 = df.quantile(0.25)
q3 = df.quantile(0.75)

iqr = q3 - q1
outliers_ae_impressions = df[(df['ae_impressions'] < q1['ae_impressions'] - threshold*iqr['ae_impressions']) | (df['ae_impressions'] > q3['ae_impressions'] + threshold*iqr['ae_impressions'])]
outliers_ae_clicks = df[(df['ae_clicks'] < q1['ae_clicks'] - threshold*iqr['ae_clicks']) | (df['ae_clicks'] > q3['ae_clicks'] + threshold*iqr['ae_clicks'])]

In [38]:
len(outliers_ae_impressions)

6445

In [39]:
len(outliers_ae_impressions)

6445

In [41]:
outliers_requests = df[(df['requests'] < q1['requests'] - threshold*iqr['requests']) | (df['requests'] > q3['requests'] + threshold*iqr['requests'])]
outliers_ae_responses = df[(df['ae_responses'] < q1['ae_responses'] - threshold*iqr['ae_responses']) | (df['ae_responses'] > q3['ae_responses'] + threshold*iqr['ae_responses'])]

In [42]:
len(outliers_requests)

6349

In [43]:
len(outliers_ae_responses)

6365

In [46]:
outliers_ae_revenue = df[(df['ae_revenue'] < q1['ae_revenue'] - threshold*iqr['ae_revenue']) | (df['ae_revenue'] > q3['ae_revenue'] + threshold*iqr['ae_revenue'])]

In [47]:
len(outliers_ae_revenue)

3403